@{
    var db = Database.Open("tjnet");
    var news = db.Query("SELECT top 3 * FROM News ORDER BY id DESC");
}

<section class="carousel" style="padding-left: 40px;padding-top: 20px;" id="carousel">
    <a href="#"><div id="tile"></div></a>          
</section>

<section class="subscribe">
    ¿Quieres recibir información sobre las actividades de la comunidad en tu correo electrónico?<br>
    <input type="email" placeholder="Correo Electrónico"> <button>Suscribirme al Boletín</button>
</section>
@{ var newsCounter = 0; }
@foreach(var item in news)
{
    <script type="text/template" id="slide-@newsCounter" data-image="@item.imageUrl">
        <h2>@item.title</h2>
        <p>
            @item.description
        </p>
    </script>    
    newsCounter++;
}

<script>            
    currentIndex = 0;

    var carousel = document.getElementById("carousel");
    var tile = document.getElementById("tile");

    function slide() {
        currentIndex = (currentIndex + 1) % 3;

        var tileHtml = document.getElementById("slide-" + currentIndex);
        tile.innerHTML = tileHtml.innerHTML;
        var imageUrl = tileHtml.attributes["data-image"].value;
        carousel.style["background-image"] = "url(" + imageUrl + ")";
    }
    slide();
    setInterval(slide, 7000);

</script>    