@{
    var db = Database.Open("tjnet");
    var news = db.Query("SELECT top 3 * FROM News ORDER BY id DESC");
}

<section class="carousel" style="padding-left: 40px;padding-top: 20px;" id="carousel">
    <a href="#"><div id="tile"></div></a>          
</section>


<section class="subscribe">
    ¿Quieres recibir información sobre las actividades de la comunidad en tu correo electrónico?<br>
    <form action="subscriptions/create" method="post">
        <input type="email" placeholder="Correo Electrónico" id="email" name="email"> <button type="submit" id="subscribe">Suscribirme al Boletín</button>
    </form>
</section>
@{ var newsCounter = 0; }
@foreach(var item in news)
{
    <script type="text/template" id="slide-@newsCounter" data-image="@item.imageUrl">
        <h2>@item.title</h2>
        <p>
            @item.description
        </p>
    </script>    
    newsCounter++;
}

<script>            
    currentIndex = 0;

    var carousel = document.getElementById("carousel");
    var tile = document.getElementById("tile");

    function slide() {
        currentIndex = (currentIndex + 1) % 3;

        var tileHtml = document.getElementById("slide-" + currentIndex);
        tile.innerHTML = tileHtml.innerHTML;
        var imageUrl = tileHtml.attributes["data-image"].value;
        carousel.style["background-image"] = "url(" + imageUrl + ")";
    }
    slide();
    setInterval(slide, 7000);

</script>    

<div id="message"></div>

@section scripts { 
    <script>
        /*
        var subscribeButton = $("#subscribe");
        subscribeButton.click(function () {
            console.log('click');
            $.post("subscriptions/create", { email: $("email").val() }, function (data) {
                $("message").html(data);
            });
        });*/
    </script>
}

