<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tijuana .Net</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />                
        <link href="~/css/site.css" rel="stylesheet">
    </head>
    <body>
        <div class="page">
            <header>
                <nav class="top-navigation">                    
                    <a href="http://twitter.com/tijuananet">Siguenos en twitter</a>
                    <a href="https://www.facebook.com/groups/31167573201/">Grupo en Facebook</a>                    
                </nav>            
                <img src="~/images/logo.jpg" alt="Tijuana .Net" class="logo">            
            </header>
            <nav class="main-navigation">
                <a href="~/">Inicio</a>
                <a href="~/news">Noticias</a>
                <a href="~/events">Eventos</a>
                <a href="#">Boletines</a>                
                <a href="#">Blogs</a>
                <a href="http://dev3cast.com">Podcast</a>
            </nav>
            

            @RenderBody()
            <script src="~/js/jquery-1.9.1.min.js"></script>
            @RenderSection("scripts", required:false);
        </div>        
    </body>
</html>